/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.*
.envrc
.envrc.*
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/.php-cs-fixer.cache
/tmp/

public/docs/
public/public
public/css/app.css
public/css/app.css.map
public/js/app.js
public/js/app.js.map
public/js/app.js.LICENSE.txt
